.firstMenu #profiles .nav>li {
  position: relative;
  display: block;
}

.firstMenu #profiles a:hover {
  background-color: transparent !important;
}

#unalTop .btn-group .btn .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid #94b43b;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: 6px;
}

.languageMenu ul.dropdown-menu a {
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
}

.languageMenu .dropdown-menu>li>a:hover,
.languageMenu .dropdown-menu>li>a:focus {
  text-decoration: none;
}

#unalTop .dropdown-toggle::after {
  display: none;
}

.firstMenu .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.firstMenu .navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

.firstMenu .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  #unalTop .navigation {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .firstMenu .navbar-toggle {
    display: none;
  }

  #bs-navbar {
    display: block !important;
  }

  #profiles .navbar-nav {
    margin: 0;
  }

  #profiles .navbar-nav>li {
    float: left;
  }
}

@media (max-width: 767px) {

  #services .dropdown-menu,
  #profiles .dropdown-menu {
    transform: none !important;
  }

  #profiles {
    display: none
  }

  #profiles.show {
    display: block;
  }
}

@media (max-width: 575px) {
  body footer div.footer-info {
    padding: 10px 15px;
    margin: 10px auto;
    font-size: .9em;
    border-top: solid 1px #555;
    border-bottom: solid 1px #555;
  }

  body footer div.footer-info p.contacto,
  body footer div.footer-info p.derechos {
    width: 100%;
    border: 0;
    padding: 0;
  }

  body footer div.footer-info p.derechos,
  body footer .gobiernoLinea:nth-child(2) {
    text-align: right;
  }
}